@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Poppins:wght@300&display=swap');

body{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header{
    @apply flex flex-row justify-center items-center w-full h-auto bg-gray-600 pl-[50px] pr-[50px] p-[35px] font-[Poppins] text-[20px]
}
.line{
    @apply w-full h-1 bg-white
}
.navigation{
    @apply w-full flex text-white justify-between
}
.navigation a{
    @apply cursor-pointer
}
@media only screen and (max-width: 768px) {
   .navigation a{
       @apply text-[15px]
   }
    .header{
        @apply pl-0 pr-0
    }
}