@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Poppins:wght@300&display=swap');

body{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header{
    @apply flex flex-row items-center w-full h-auto bg-gray-600 p-[50px] font-[Poppins] text-[20px]
}
.line{
    @apply w-full h-1 bg-white
}
.logo{
    @apply flex flex-col items-center w-[65px] h-[65px]
}
.logo a{
    @apply ml-[10px] font-[Poppins] text-white text-4xl font-bold
}
.navigation{
    @apply flex w-full text-white justify-center
}
.navigation a{
    @apply ml-[30px] cursor-pointer
}
/*.reg__buttons{*/
/*    @apply flex*/
/*}*/
/*.signIn button{*/
/*    @apply w-auto h-auto text-white*/
/*}*/
/*.signUp button{*/
/*    @apply w-[100px] h-auto bg-white ml-[10px] rounded-[5px]*/
/*}*/
@media only screen and (max-width: 768px) {
    .logo{
        @apply w-[40px] h-[40px]
    }
    .logo a{
        @apply text-[20px]
    }
}